[submodule "vendor/extensions/comments"]
	path = vendor/extensions/comments
	url = git://github.com/saturnflyer/radiant-comments.git
[submodule "vendor/extensions/conditional_tags"]
	path = vendor/extensions/conditional_tags
	url = git://github.com/SwankInnovations/radiant-conditional-tags-extension.git
[submodule "vendor/extensions/drag_order"]
	path = vendor/extensions/drag_order
	url = git://github.com/bright4/radiant-drag-order.git
[submodule "vendor/extensions/file_system"]
	path = vendor/extensions/file_system
	url = git://github.com/nelstrom/radiant-file-system-extension.git
[submodule "vendor/extensions/less"]
	path = vendor/extensions/less
	url = http://github.com/rk/Radiant-Less
[submodule "vendor/extensions/no_dev_cache"]
	path = vendor/extensions/no_dev_cache
	url = git://github.com/jgarber/radiant-no_dev_cache-extension.git
[submodule "vendor/extensions/page_preview"]
	path = vendor/extensions/page_preview
	url = http://github.com/tricycle/radiant-page-preview-extension.git
