<!doctype html>  

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
  <!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
    <!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
      <!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
        <head>
          <meta charset="utf-8">

          <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
          Remove this if you use the .htaccess -->
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

          <!-- encoding must be specified within the first 512 bytes www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#charset -->

          <!-- meta element for compatibility mode needs to be before all elements except title & meta msdn.microsoft.com/en-us/library/cc288325(VS.85).aspx --> 
          <!-- Chrome Frame is only invoked if meta element for compatibility mode is within the first 1K bytes code.google.com/p/chromium/issues/detail?id=23003 -->    


          <title></title>
          <meta name="description" content="燕赵物流网站">
          <meta name="author" content="程东辉">

          <!--  Mobile viewport optimized: j.mp/bplateviewport -->
          <meta name="viewport" content="width=device-width, initial-scale=1.0">

          <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
          <link rel="shortcut icon" href="/favicon.ico">
          <link rel="apple-touch-icon" href="/apple-touch-icon.png">


          <!-- CSS : implied media="all" -->
          <link rel="stylesheet" href="/stylesheets/style.css?v=2">
          <link rel="stylesheet" href="/stylesheets/blueprint/grid.css?v=2">
          <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

          <!-- Uncomment if you are specifically targeting less enabled mobile browsers
          <link rel="stylesheet" media="handheld" href="/stylesheets/handheld.css?v=2">  -->

          <link rel="stylesheet" href="/stylesheets/slideview.css?v=2">
          <link rel="stylesheet" href="/stylesheets/main.css?v=2">
          <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
          <script src="/javascripts/libs/modernizr-1.6.min.js"></script>

        </head>

        <body>
          <div id='header-wrap'>
            <div class='container'>
              <div class='span-24 prepend-top'>
                <header class='clearfix'>
                <div class='span-5'>
                  <h1 id='logo' class='ir'>
                    <a href='#'>郑州市燕赵货运服务有限公司</a>
                  </h1>
                </div>
                <div class='span-11 push-8 last'>
                  <h2 id='touch-phone'>服务热线:400-888-666</h2>
                </div>
                <div id='nav-wrap' class='span-24'>
                  <ul class='topnav'>
                    <li>
                      <a href='#'>首页</a>
                    </li>
                    <li>
                      <a href='#'>走进燕赵</a>
                      <ul class='subnav'>
                        <li><a href='#'>企业简介</a></li>
                        <li><a href='#'>企业理念</a></li>
                        <li><a href='#'>企业资质</a></li>
                        <li><a href='#'>企业文化</a></li>
                        <li><a href='#'>董事致辞</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href='#'>新闻中心</a>
                      <ul class=subnav>
                        <li><a href='#'>公司新闻</a></li>
                        <li><a href='#'>公司公告</a></li>
                        <li><a href='#'>行业动态</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href='#'>运营网络</a>
                    </li>
                    <li>
                      <a href='#'>服务平台</a>
                      <ul class='subnav'>
                        <li><a href='#'>货物查询</a></li>
                        <li><a href='#'>增值服务</a></li>
                        <li><a href='#'>发货流程</a></li>
                        <li><a href='#'>客户须知</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href='#'>诚聘英才</a>
                      <ul class=subnav>
                        <li><a href='#'>招聘信息</a></li>
                        <li><a href='#'>应聘流程</a></li>
                        <li><a href='#'>人才培养</a></li>
                        <li><a href='#'>人在燕赵</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href='#'>联系我们</a>
                    </li>
                    <li>
                      <a href='#'>在线留言</a>
                    </li>
                  </ul>
                </div>
                </header>
              </div>
            </div>
          </div>
          <div id="container" class='container'>
            <div id="main" class='clearfix'>
              <r:content />
            </div>
          </div>
          <footer class='clearfix'>
          <div class='container'>
            <div  class='span-24 prepend-top append-bottom'>
              <div class='span-12'>
                <ul id='footer_link' class='clearfix'>
                  <li><a href='#'>网站地图</a></li>
                  <li>|</li>
                  <li><a href='#'>关于我们</a></li>
                  <li>|</li>
                  <li><a href='#'>友情链接</a></li>
                </ul>
              </div>
              <div class='span-12 last'>
                <p id='copyright' class='text-right'>copyright 2010 郑州燕赵货运服务有限公司</p>
              </div>
            </div>
          </div>
          </footer>

        </div> <!--! end of #container -->


        <!-- Javascript at the bottom for fast page loading -->

        <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/libs/jquery-1.4.4.js"%3E%3C/script%3E'))</script>

        <script src="/javascripts/mylibs/slideView.1.2.min.js"></script>

        <!-- scripts concatenated and minified via ant build script-->
        <script src="/javascripts/plugins.js"></script>
        <script src="/javascripts/script.js"></script>
        <!-- end concatenated and minified scripts-->


        <!--[if lt IE 7 ]>
        <script> //fix any <img> or .png_bg background-images
          $.getScript("/javascripts/libs/dd_belatedpng.js",function(){ DD_belatedPNG.fix('img, .png_bg'); });
        </script>
        <![endif]-->

        <!-- yui profiler and profileviewer - remove for production -->
        <script src="/javascripts/profiling/yahoo-profiling.min.js"></script>
        <script src="/javascripts/profiling/config.js"></script>
        <!-- end profiling code -->


        <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
        change the UA-XXXXX-X to be your site's ID -->
        <script>
          var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
          (function(d, t) {
            var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
            g.async = true;
            g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s);
          })(document, 'script');
        </script>

      </body>
    </html>